/* Nature - an open source xhtml/css website layout by Studio-plume.org kty 
(Jan 04, 2007)
 */


@font-face{
           font-family:myfont;src:url("ChenYuluoyan-Thin.woff")}
           p{font-family:myfont;font-size:25px;color:white;text-align:justify;line-height:30px}
		ul{font-family:myfont;font-size:36px;color:white;text-align:justify;line-height:40px}
    	a{color:white}
	h1{font-family:myfont;color:orange;font-size:36px;text-align:center}
	h2{font-family:myfont;color:white;font-size:29px;text-align:center}



body {
color:white;
margin: 0 auto;
padding: 0;
font-family:myfont;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}



	.button {
  	  margin: 10px 10px;
 	   padding: 16px 32px;
  	  text-align: center;
  	  font-size: 16px;
  	  cursor:pointer;
   	 transition:background-color 2s,color 2s;

	}

	.button1 {
	    background-color:#FFBF00; 
 	   color: black; 
 	   border: 2px solid orange;
	}

	.button1:hover {
	    	background-color: black;
 	   	color: white;
		border: 2px solid orange;
	}